<header id="header-wrap">
	<div id="hero-area" class="hero-area-bg">
		<div class="overlay m-0 p-0"></div>
		<div class="container ">
			<div class="row">
				<div class="contents">
					<div class="script-font wow fadeInUp " data-wow-delay="0.2s">
						<div class=" mb-3 ">

							<img src="{{imgUrl}}" class="col-sm-12  col-md-6 z-depth-1 ">



						</div>
						</div>
						<div class="m-3 p-3 text-center">
							<span class=" head-title wow fadeInUp " style="color:#fff;" data-wow-delay="0.4s">{{userData.username}}</span>

							<p class=" script-font wow fadeInUp " data-wow-delay="0.6s">Front-end Web Developer and
								Graphic
								Designer</p>
						</div>
						<ul class="row wow fadeInUp text-center m-1" data-wow-delay="0.8s">
							<li class="col-sm-6 col-6 col-md-3 my-1 ">
								<div>
									<div class="card ">
										<div class="card-body text-center ">
											<h5 class="card-title "><i class="fa fa-facebook-official fa-3x" style="color:#3b5998  ;"
                        aria-hidden="true"></i></h5>
											<a href="https://www.facebook.com/{{userData.fbUrl}}" target="_blink"
												class="card-link">/{{userData.fbUrl}}</a>
										</div>
									</div>
								</div>
							</li>
							<li class="col-sm-6 col-6 col-md-3 my-1">
								<div>
									<div class="card">
										<div class="card-body text-center">
											<h5 class="card-title "><i class="fa fa-snapchat-square fa-3x" style="color: #fffc00 ;"
                        aria-hidden="true"></i></h5>
											<a href="https://www.snapchat.com/add/{{userData.snapid}}" target="_blink"
												class="card-link">/{{userData.snapid}}</a>
										</div>
									</div>
								</div>
							<li class="col-sm-6 col-6 col-md-3 my-1">
								<div>
									<div class="card">
										<div class="card-body text-center ">
											<h5 class="card-title ">
												<i class="fa fa-instagram fa-3x instagram" aria-hidden="true"></i></h5>
											<a href="https://www.instagram.com/{{userData.ig}}/?hl=en" target="_blink"
												class="card-link">/{{userData.ig}}</a>
										</div>
									</div>
								</div>
							</li>
							<li class="col-sm-6 col-6 col-md-3 my-1">
								<div>
									<div class="card">
										<div class="card-body text-center">
											<h5 class="card-title "><i class="fa fa-whatsapp fa-3x" style="color:#4FCE5D;"
                        aria-hidden="true"></i></h5>
											<a href="https://api.whatsapp.com/send?phone={{userData.wpnum}}"
												target="_blink" class="card-link">/{{userData.wpnum}}</a>
										</div>
									</div>
								</div>
							</li>
							<li class="col-sm-6 col-6 col-md-3 my-1">
								<div>
									<div class="card">
										<div class="card-body text-center">
											<h5 class="card-title ">
												<i class="fa fa-linkedin-square fa-3x" style="color:#0e76a8;" aria-hidden="true"></i>
											</h5>
											<a href="https://www.linkedin.com/in/{{userData.linkedin}}" target="_blink"
												class="card-link">/{{userData.linkedin}}</a>
										</div>
									</div>
								</div>
							</li>
							<li class="col-sm-6 col-6 col-md-3 my-1">
								<div>
									<div class="card">
										<div class="card-body text-center">
											<h5 class="card-title fa-4x"><img
                        src="https://logo-logos.com/wp-content/uploads/2018/03/PUBG_icon_black_small.png"
                        style="width: 82px; height: 100px;" alt="PUBG logo" />
                    </h5>
												<a class="card-link text-primary"
													(click)="copyID(userData.pubg)">/{{userData.pubg}}</a>
										</div>
									</div>
								</div>
							</li>
						</ul>
						<div class="header-button wow fadeInUp m-3" data-wow-delay="1s">
							<a href="#" class="btn btn-common" onclick='share()'>Share</a>
							<!-- Script -->
							<script type='text/javascript'>
								function 
							</script>
						</div>
					</div>
				</div>
			</div>
		</div>


</header>